.bg {
    padding: 80px;
    text-align: center;
    color: white;
}

.bg h1 {
    font-size: 60px;
}

.bg a {
    font-size: 30px;
}

.gradient {
    background: #20a370; /* Для старых браузеров */
    background: linear-gradient(to bottom right, #7b00e6, #20a370);
    padding: 10px;
    border: 1px solid #333;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background: #20a370; /* Для старых браузеров */
    background: linear-gradient(to bottom right, #20a370, #7b00e6);
}

.start_button {
    background: #7b00e6; /* Для старых браузеров */
    background: linear-gradient(to bottom right, #7b00e6, #ED6E8C);
    width: 50%;
    margin-top: 15px;
    color: aliceblue;
}

.left_btn {
    margin-left: 40px;
    margin-bottom: 40px;
}
.right_btn {
    margin-right: 40px;
    margin-bottom: 40px;
}
table {
    margin-top: 25px;
    width: 100%; /* Ширина таблицы */
    height: 100%; /* Ширина таблицы */
    border-spacing: 7px 7px; /* Расстояние между ячейками */
    padding: 80px;
}
tr {
    margin-top: 20%;
    margin-bottom: 20%;
}

