body {
    background-color: #1abc9c;
}

.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 60px;
}

.header a {
    font-size: 30px;
    color: #54FF9F;
}

.navbar {
    overflow: hidden;
    background-color: #3B4A4E;
}

.navbar a {
    margin-left: auto;
    margin-right: 0em;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.block_menu {
    float:right;
}
#carouselIMG {
    height: 250px;
    width: 600px;
    align: center;
}