.login-form {
    padding: 50px;
    text-align: center;
    border-radius:5px;
    margin: 10px 30% 0 30%;
    background: rgba(52, 58, 64, .7);
    height: min-content;
}

p {
    color: aliceblue;
}


.alert_danger {
    background: rgba(237, 110, 140, 0.5);;
}
