{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href='static/css/style.css'/>
{% endblock %}

{% block content %}
<div class="header">
    <h1>ABOUT MOVIES</h1>
    <p>О фильмах</p>
    <a href="#" class="btn btn-outline-info btn-sm active" role="button">Начать</a>
</div>

<ul class="list-unstyled">
    <li class="media">
        <img class="mr-3" src="/static/img/movie.jpg" alt="Здесь должна быть картинка"
             height="400px" width="400px">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Миллионы фильмов, десятки жанров</h5>
        </div>
    </li>
    <li class="media my-4">
        <img class="mr-3" src="/static/img/difficult_choice.jpg"
             alt="Generic placeholder image" height="300px" width="400px">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Очень сложно сделать выбор</h5>
        </div>
    </li>
    <li class="media">
        <img class="mr-3" src="/static/img/carousel_opinion.jpg"
             alt="Generic placeholder image" height="300px" width="400px">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Но здесь Вам помогут!</h5>
            Читай мнения других людей и делись своим!
        </div>
    </li>
</ul>
{% endblock %}