{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href='/static/css/style.css'/>
{% endblock %}

{% block content %}
<style>
    body {
    background-color: #292f36;
    }
</style>
<div class="bg gradient">
    <table align="center">
        <tr>
            <td><img class="left_btn" src="/static/img/1.svg" width="256" height="256"></td>
            <td>
                <h1>ABOUT MOVIES</h1>
                <h4>О фильмах</h4>
            </td>
            <td><img class="right_btn" src="/static/img/feedback.svg" width="256" height="256"></td>
        </tr>
        <tr>
            <td>
                <img class="left_btn" src="/static/img/movie.svg" width="256" height="256">
            </td>
            <td>
                <h5>
                    На этом сайте вы можете выбрать себе фильм по вкусу,
                </h5>
                <h5>
                    а так же помочь в выборе фильма другим, оставляя оценки
                </h5>
            </td>
            <td>
                <img class="right_btn" src="/static/img/camera.svg" width="256" height="256">
            </td>
        </tr>
    </table>
</div>
<center>
    <a class="btn start_button" href="/main_page">Начать использование сервиса</a>
</center>
{% endblock %}