{% extends "base_main.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href='/static/css/style.css'/>
{% endblock %}

{% block content %}
    <script src="/static/js/jump_element.js"></script>
<style>
    .left_btn {
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .right_btn {
        margin-right: 40px;
        margin-bottom: 40px;
    }
    table {
        margin-top: 25px;
        width: 100%; /* Ширина таблицы */
        height: 100%; /* Ширина таблицы */
        border-spacing: 7px 7px; /* Расстояние между ячейками */
        padding: 80px;
    }
    tr {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    body {
        background-color: #292f36;
    }
</style>
<div class="bg gradient">
    <table align="center">
        <tr>
            <td>
                <img class="left_btn jumping_element" src="/static/img/1.svg">
            </td>
            <td>
                <h1>ABOUT MOVIES</h1>
                <h4>О фильмах</h4>
            </td>
            <td><img class="right_btn jumping_element"
                     src="/static/img/feedback.svg" width="256" height="256"></td>
        </tr>
        <tr>
            <td>
                <img class="left_btn jumping_element"
                     src="/static/img/movie.svg" width="256" height="256">
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <h5>
                                На этом сайте вы можете выбрать себе фильм по вкусу
                            </h5>
                            <h5>
                                а так же помочь в выборе фильма другим, оставляя оценки
                            </h5>
                        </td>
                    </tr>
                    <tr><td>
                        <button class="reverse_color start_button">START</button>
                    </td></tr>
                </table>
            </td>
            <td>
                <img class="right_btn jumping_element"
                     src="/static/img/camera.svg" width="256" height="256">
            </td>
        </tr>
    </table>
</div>
{% endblock %}